<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPublicEDKey</key>
    <string>kLgOWKV+kkDaiPXdOdKBgSv4E7TwUwZA6mDFCZix3es=</string>
    <key>SUFeedURL</key>
    <string>https://photojourna1ist.github.io/ClaudeStatus/appcast.xml</string>
</dict>
</plist>
